[package]
name = "life-agent-for-windows"
version = "0.1.0"
edition = "2021"

[dependencies]
rdev = "*"
sysinfo = "^0"
tokio = { version = "^1.19", features = ["full"] }

[dependencies.windows]
version = "^0.58"
features = [
  "Win32_Foundation",
  "Win32_Security",
  "Win32_System_Threading",
  "Win32_System_SystemInformation",
  "Win32_UI_WindowsAndMessaging",
  "Win32_UI_Input_KeyboardAndMouse",
]
