[package]
name = "life-agent-for-windows"
version = "0.1.0"
edition = "2021"

[dependencies]
rdev = "*"
sysinfo = "^0"
tokio = { version = "^1.19", features = ["rt-multi-thread", "time", "macros"] }

[target.'cfg(windows)'.dependencies.windows]
version = "^0.52"
features = [
  "Win32_Foundation",
  "Win32_Security",
  "Win32_System_Threading",
  "Win32_System_SystemInformation",
  "Win32_UI_WindowsAndMessaging",
  "Win32_UI_Input_KeyboardAndMouse",
]

[target.'cfg(windows)'.dependencies]
tray-item = "0.10.0"
webbrowser = "1.0.1"


[target.'cfg(target_os = "linux")'.dependencies]
x11rb = "0.11.1"
user-idle = "0.6.0"

[build-dependencies]
embed-resource = "2.3"
